
body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: pink;
}

.topbar{
    width: 100vw;
    min-height: 38px;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.menuOption, .menuOptionTenda{
    margin: 3px;
    padding: 7px;
    border-radius: 15px;
    cursor:pointer;
    
}

.menuOption:hover, .menuOptionTenda:hover{
    background-color: antiquewhite;
}

.menuOptionGrande{
    
    flex-direction: row;
    display: none;
    background-color: white;
    
}

.menuOptionPiccolo{
    margin: 3px;
    padding: 7px;
    border-radius: 15px;
    cursor:pointer;
    transition: 0.5s;
    width: 30px;
    display: block;
}

.menuOptionPiccolo:hover{
    background-color: white;
    width: 200px;
    position: absolute;
}

.pageContent{
    padding-top: 50px;
    background-color: grey;
}

.createDivPageContentContainer{
    padding-top:20px;
}


@media screen and (min-width: 600px) {
    .menuOptionPiccolo {
        display: none;
    }
    .menuOptionGrande{
        display: flex;
        flex-direction: row;
    }
  }
